.certificates {
  padding: 8vh 0 10vh;
  &-header {
    &__title {
      span {
        color: $green;
      }
    }
    &__slogan {
      text-align: center;
      color: #656565;
    }
  }
  &-content {
    margin-top: 50px;
    &__item {
      @include make-lg-column(4);
      margin-bottom: 40px;
      text-align: center;
    }
  }
}