.wrapper--diagnostics {
  background: #e7e7e7;
}
.diagnostics {
  padding: 8vh 0;
  &-header {
    &__title span {
      color: $green;
    }
    &__slogan {
      color: #656565;
    }
  }
  &-content {
    margin-top: 50px;
    overflow: hidden;
    &__text {
      @include make-lg-column(6);
      @include make-sm-column(6);
      .diagnostics-list {
        max-width: 500px;
        margin: 20px auto 0;
        li {
          a {
            margin: 5px 0 20px;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
              transition: all 0.2s linear;
            }
          }
        }
        .list-header {
          margin: 0 0 20px;
          color: #656565;
        }
        .list-item__header {
          margin-bottom: 10px;
          font-size: 22px;
        }
        &__item,
        .back-link {
          width: 90%;
          padding: 15px 0;
          border: 2px dashed;
          border-color: $black transparent transparent;
          cursor: pointer;
          @include respond-to(handhelds) {
            padding: 7px 0;
          }
          &:hover {
            .marker {
              background: $green;
              transition: all 0.2s linear;
            }
          }
          .marker {
           display: inline-block;
           vertical-align: middle;
           width: 6.5px;
           height: 6px;
           margin: 0 5px 0 10px;
           border-radius: 5px;
           background: $black;
         }
          .text {
            display: inline-block;
            vertical-align: middle;
            max-width: 320px;
            width: 80%;
            &.special-text {
              margin-left: 25px;
              color: $green;
            }
          }
          .price {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            max-width: 84px;
            width: 100%;
            margin: 0 7px;
            color: $green;
            font-family: $font-family-bold;
            .fa-rub {
              font-size: 0.86em;
            }
          }
          &:hover {
            border: 2px dashed $green;
            border-radius: 13px;
            transition: all 0.2s linear;
            .marker {
              background: $green;
            }
            & + li {
              border-top: 2px dashed transparent;
            }
          }
          &.hidden {
            display: none;
          }
        }
        .list-item__footer {
          color: #656565;
          padding-top: 15px;
          box-sizing: border-box;
          border: 2px solid transparent;
        }
        &.step-3 {
          .diagnostics-list__item {
            pointer-events: none;
          }
          .diagnostics-list__item.back-link {
            pointer-events: auto;
            padding: 15px 0 14px;
          }
        }
      }
    }
    .diagnostics-text__header {
      max-width: 500px;
      margin: 0 auto;
      @include font-face($font-family-base, $font-size-base + 12px, $line-height-medium, $black);
      @include respond-to(handhelds) {
        font-size: 20px;
      }

    }
    &__image {
      @include make-lg-column(6);
      @include make-sm-column(6);
    }
    .diagnostics-progress {
      position: relative;
      width: 100%;
      max-width: 409px;
      min-height: 330px;
      margin: 20px auto 0;
      border: 1px solid transparent;
      background: url(/images/diagnostics.png) no-repeat;
      text-align: center;
      @include respond-to(handhelds) {
        background-position: center;
        background-size: contain;
        min-height: 230px;
      }
      @include respond-to(tablets) {
        background-size: contain;
      }
    }
    .diagnostics-value {
      margin-top: 20%;
      @include font-face($font-family-bold, $font-size-large, $line-height-medium, #fff);
      @include respond-to(handhelds) {
        margin-top: 45px;
      }
    }
    .progress {
      max-width: 235px;
      height: 15px;
      margin: 30px auto 0;
      border-radius: 13px;
      background: #646464;
      overflow: hidden;
      &-bar {
        width: 10%;
        height: 15px;
        background: $green;
        transition: all 0.4s linear;
      }
      @include respond-to(handhelds) {
        width: 60%;
        max-width: 190px;
      }
    }
  }
  &-btn {
    display: block;
    max-width: 500px;
    margin: 30px auto 0;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    @include button(100%, auto, 13px, $btn-red, #fff, $font-family-base, $font-size-base, 60px);
    @include respond-to(handhelds) {
      line-height: 30px;
      max-width: 90%;
    }
  }
}
.sub-list {
  display: none;
}
