.footer {
  text-align: center;
  padding: 40px 0;
  &-contacts {
    &__text {
      color: #656565;
    }
    &__phone {
      margin: 15px 0;
      @include font-face($font-family-semi-bold, $font-size-large, $line-height-large, $black);
    }
  }
}