.footer {
  padding: 5vh 0 30px;
  box-sizing: border-box;

  .logo__text {
    color: #382f59;
  }
  .phone__number {
    color: $white;
    @include respond-to(handhelds) {
      display: block;
      margin-top: 40px;
    }
  }
}
