.order-form {
  margin-top: 40px;
  @include respond-to(handhelds) {
    max-width: 320px;
    margin: 40px auto 0;
  }
  form {
    label {
      display: none;
    }
    input[type='text'] {
      @include make-lg-column(3);
      height: 40px;
      margin-right: 10px;
      border: none;
      @include respond-to(handhelds) {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
      }
      @include respond-to(tablets) {
        @include make-sm-column(3);
      }
      @include respond-to(laptop) {
        @include make-md-column(3);
      }
    }
    input[type='submit'] {
      @include make-lg-column(4);
      width: 100%;
      padding-top: 0;
      height: 55px;
      margin-top: -7px;
      border: none;
      border-radius: 13px;
      @include font-face($font-family-medium, 21px, 40px, $white);
      background: #4dbca1;
      outline: none;
      &:hover {
        background: #43ac93;
        transition: all 0.2s linear;
      }
      &:active {
        background: #5dd4b7;
        transition: all 0.2s linear;
      }
      @include respond-to(handhelds) {
        margin-top: 10px;
      }
      @include respond-to(laptop) {
        @include make-md-column(4);
      }
    }
  }
}