form {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  height: 47px;
  margin-bottom: 15px;
  padding-left: 20px;
  border: 2px dashed #696969;
  border-radius: 7px;
  box-sizing: border-box;
  outline: none;
}
input[type="submit"] {
  @include button(100%, 80px, 13px, $btn-red, #fff, $font-family-bold, $font-size-base, $line-height-base);
  margin-bottom: 25px;
  white-space: pre-wrap;
}
.form__title {
  margin-bottom: 10px;
  @include font-face($font-family-base, $font-size-base + 8px, $line-height-medium, $black);
  div {
    font-family: $font-family-bold;
  }
}
.form__slogan {
  margin-bottom: 30px;
  @include font-face($font-family-base, $font-size-base + 4px, $line-height-medium, $black);
  span {
    color: $green;
  }
}
.special-offer {
  form {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    ul {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 355px;
      margin: 0 35px 0 0;
      input[type="text"] {
        margin-bottom: 0;
        border: none;
        height: 55px;
        padding-left: 40px;
        border-radius: 13px;
      }
    }
    input[type="submit"] {
      display: inline-block;
      vertical-align: middle;
      max-width: 400px;
      padding-top: 5px;
      margin-bottom: 0;
      @include button(100%, 57px, 13px, $yellow, $black, $font-family-base, $font-size-base, $line-height-base);
      &:active,
      &:hover {
        color: $black;
      }
    }
  }
}
.questions-form {
  form {
    display: block;
    max-width: 395px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    ul {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin: 0 35px 0 0;
      input[type="text"] {
        margin-bottom: 15px;
        border: none;
        height: 55px;
        padding-left: 20px;
        border-radius: 13px;
        &::-webkit-input-placeholder {
          color: #7f7f7f;
        }
        &:-moz-placeholder {
          color: #7f7f7f;
        }
      }
      textarea {
        width: 100%;
        max-width: 395px;
        height: 121px;
        max-height: 121px;
        margin-bottom: 15px;
        padding: 20px 0 0 20px;
        border: none;
        outline: none;
        border-radius: 13px;
        box-sizing: border-box;
        &::-webkit-input-placeholder {
          color: #7f7f7f;
        }
        &:-moz-placeholder {
          color: #7f7f7f;
        }
      }
    }
    input[type="submit"] {
      display: inline-block;
      vertical-align: middle;
      padding-top: 5px;
      margin-top: 10px;
      @include button(100%, 60px, 13px, $yellow, $black, $font-family-bold, $font-size-base, $line-height-base);
      &:active,
      &:hover {
        color: $black;
      }
    }
  }
}