.header {
  padding-top: 10px;
  @include clearfix;
}
.logo {
  &__image {
    display: block;
    padding-left: 0;
  }
  &__text {
    @include font-face($font-family-proxima, 22px, 6.5em, $white);
    @include respond-to(tablets) {
      margin-top: 38px;
      @include font-face($font-family-proxima, 17px, $line-height-base, $white);
    }
    @include respond-to(laptop) {
      margin-top: 38px;
      @include font-face($font-family-proxima, 22px, $line-height-base, $white);
    }
  }
}
.phone {
    float:right!important;
    text-align: right;
    background: url(/images/icons/phone.png) 3% 55% no-repeat;
    @include respond-to(handhelds) {
      background: none;
    }
}
.menu {
  float:right!important;
  &__btn {
    position: relative;
    float: right;
    width: 72px;
    height: 53px;
    margin-top: 45px;
    padding: 14px 0 0 17px;
    border: 2px solid $white;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    &:hover {
      border: 2px solid $coral;
      transition: all 0.2s linear;
      span {
        background: $coral;
        transition: all 0.2s linear;
      }
    }
    span {
      display: block;
      width: 36px;
      height: 3px;
      margin-bottom: 6px;
      background: $white;
    }
    &.active {
      span {
        position: absolute;
        background: $coral;
        &:first-child {
          top: 23px;
          left:16px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          top: 23px;
          right:16px;
          transform: rotate(-45deg);

        }
      }
    }
    @include respond-to(handhelds) {
      position: absolute;
      right: 10px;
      top: 45px;
      width: 62px;
      height: 48px;
      margin: 0 0 10px;
      padding: 11px 0 0 12px;
      &.active {
        span {
          &:first-child {
            top: 20px;
            left:11px;
          }
          &:last-child {
            top: 20px;
            right:11px;
          }
        }
      }
    }
    @include respond-to(tablets) {
      margin-top: 32px;
    }
  }
  &__navigation {
    display: none;
    position: absolute;
    top: 102px;
    right: 10px;
    z-index: 10;
    width: 200px;
    padding: 7px 0 10px;
    border-radius: 5px;
    background: $coral;
    li {
      text-align: center;
      a {
        display: inline-block;
        padding: 10px 0;
        font-size: $font-size-base + 2px;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

