.wrapper--hero {
  background-image: url(/images/hero-background.jpg),
  linear-gradient(to bottom, #f7faff, #eaf2fd);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 8vh;
}
.hero {
  &-header {
    @include make-lg-column(12);
    margin-bottom: 50px;
    text-align: center;
    h1 {
      span {
        color: $green;
      }
    }
    &__slogan {
      @include font-face($font-family-base, $font-size-base + 8px, $line-height-medium, $black);
    }
  }
  &-content {
    &__image {
      @include make-lg-column(7);
      img {
        width: 100%;
        max-width: 608px;
      }
    }
    &__text {
      @include make-lg-column(5);
    }
    &__form {
      padding: 40px 45px 0;
      border-radius: 10px;
      background: #ffffff;
      text-align: center;
      overflow: hidden;
      box-sizing: border-box;
    }
    &__advantages {
      ul {
        margin-top: 30px;
        padding-left: 20px;
        li {
          list-style: disc;
          line-height: 30px;
          color: $green;
          span {
            color: $black;
          }
        }
      }
    }
  }
}