.wrapper--reviews {
  background: url(/images/reviews-background.png) center no-repeat;
  background-size: cover;
}
.reviews {
  padding: 8vh 0 7vh;
  text-align: center;
  &-header {
    color: #507299;
  }
  img {
    display: block;
    margin: 50px auto 0;
    @include respond-to(handhelds) {
      max-width: 90%;
    }

  }
}