.special-offer {
  @include make-lg-column(8);
  float: none!important;
  padding: 8vh 0 10vh;
  margin: 0 auto;
  &__title {
    color: #ffffff;
  }
  &__content {
    margin: 40px 0;
    padding: 35px 0;
    border: 5px dashed #fff;
    border-radius: 10px;
    box-sizing: border-box;
    @include respond-to(handhelds) {
      margin: 40px 10px;
    }
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    width: 70%;
    text-align: center;
    div:first-child {
      margin-bottom: 10px;
      @include font-face($font-family-light, $font-size-large - 4px, $line-height-large, $yellow);
      font-weight: lighter;
    }
    div:last-child {
      margin-bottom: 10px;
      @include font-face($font-family-light, $font-size-base + 2px, $line-height-base, #fff);
      font-weight: lighter;
    }
    @include respond-to(handhelds) {
      width: 100%;
    }
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
    max-width: 250px;
    width: 30%;
    text-align: center;
    @include respond-to(handhelds) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__form {
    margin: 35px 0 0 0;
  }
  .special-form__title {
    text-align: center;
    margin-bottom: 15px;
    @include font-face($font-family-base, $font-size-base + 8px, $line-height-medium, #fff);
    div {
      font-family: $font-family-bold;
    }
  }
  .special-form__description {
    margin-bottom: 50px;
    text-align: center;
    @include font-face($font-family-base, $font-size-base + 4px, $line-height-medium, #fff);
    span {
      font-family: $font-family-bold;
      color: #fff;
    }
  }
}