.time-info {
  padding: 8vh 0 5vh;
  border-top: 1px solid #000000;
  text-align: center;
  &__title {
    margin-bottom: 15px;
  }
  &__period {
    margin-bottom: 10px;
    @include font-face($font-family-semi-bold, $font-size-large, $line-height-large, $green);
  }
  &__description {
    color: #656565;
  }
}