//глобальные переменные

// fonts variables

$font-family-base: PFDinDisplayProRegular, sans-serif;
$font-family-bold: PFDinDisplayProBold, sans-serif;


$font-size-base: 16px!default;
$font-size-medium: $font-size-base * 1.13; //18px
$font-size-large: $font-size-base * 2.38;  //38px

$line-height-base: normal !default;
$line-height-large: 24px;
$line-height-large: 40px;

// fonts variables END


// colors variables

$black: #000000;
$green: #4cae6d;
$yellow: #ffe50a;
$grey: #ebedf0;

// colors variables END