//глобальные переменные

// fonts variables

$font-family-base: ProximaNovaRegular, sans-serif;
$font-gilroy-light: GilroyLight, sans-serif;
$font-gilroy-black: GilroyBlack, sans-serif;
$font-gilroy-bold: GilroyExtrabold, sans-serif;


$font-size-base: 14px !default;
//$font-size-medium: $font-size-base * 1.13; //18px
//$font-size-large: $font-size-base * 2.38;  //38px

$line-height-base: 1.3 !default;

// fonts variables END


// colors variables

$black: #000000 !default;
$green: #2dd37f;
$grey: #f8f8f8;
$yellow: #ffe50a;


// colors variables END