html,
body {
  @include font-face($font-family-base, $font-size-base, $line-height-base, $black);
}

a {
  @include font-face($font-family-base, $font-size-base, $line-height-base, $black);
  @include links($black, $green, $black, $green);
  text-decoration: none;
}

h1 {
  margin: 0 0 5px 0;
  @include font-face($font-family-base, $font-size-large, $line-height-large, $black);
}


.title {
  margin: 0 0 5px;
  @include font-face($font-size-base, $font-size-large, $line-height-large, $black);
}

