@font-face {
  font-family: PFBeauSansProThin;
  font-style: normal;
  font-weight: 100;
  src:   url('/fonts/PFBeauSansProThin/PFBeauSansProThin.ttf') format('ttf'),
  url('/fonts/PFBeauSansProThin/PFBeauSansProThin.woff') format('woff'),
  url('/fonts/PFBeauSansProThin/PFBeauSansProThin.otf') format('otf'),
  url('/fonts/PFBeauSansProThin/PFBeauSansProThin.eot') format('eot'),
  url('/fonts/PFBeauSansProThin/PFBeauSansProThin.svg') format('svg');
}
@font-face {
  font-family: PFBeauSansProLight;
  font-style: normal;
  font-weight: 100;
  src:   url('/fonts/PFBeauSansProLight/PFBeauSansProLight.ttf') format('ttf'),
  url('/fonts/PFBeauSansProLight/PFBeauSansProLight.woff') format('woff'),
  url('/fonts/PFBeauSansProLight/PFBeauSansProLight.otf') format('otf'),
  url('/fonts/PFBeauSansProLight/PFBeauSansProLight.eot') format('eot'),
  url('/fonts/PFBeauSansProLight/PFBeauSansProLight.svg') format('svg');
}

@font-face {
  font-family: PFBeauSansProRegular;
  font-style: normal;
  font-weight: 400;
  src:   url('/fonts/PFBeauSansProRegular/PFBeauSansProReg.ttf') format('ttf'),
  url('/fonts/PFBeauSansProRegular/PFBeauSansProReg.woff') format('woff'),
  url('/fonts/PFBeauSansProRegular/PFBeauSansProReg.otf') format('otf'),
  url('/fonts/PFBeauSansProRegular/PFBeauSansProReg.eot') format('eot'),
  url('/fonts/PFBeauSansProRegular/PFBeauSansProReg.svg') format('svg');
}

@font-face {
  font-family: PFBeauSansProSemiBold;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/PFBeauSansProSemiBold/PFBeauSansProSemiBold.woff') format('woff'),
  url('/fonts/PFBeauSansProSemiBold/PFBeauSansProSemiBold.otf') format('otf'),
  url('/fonts/PFBeauSansProSemiBold/PFBeauSansProSemiBold.ttf') format('ttf'),
  url('/fonts/PFBeauSansProSemiBold/PFBeauSansProSemiBold.eot') format('eot'),
  url('/fonts/PFBeauSansProSemiBold/PFBeauSansProSemiBold.svg') format('svg');
}
@font-face {
  font-family: PFBeauSansProBold;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/PFBeauSansProBold/PFBeauSansProBold.woff') format('woff'),
  url('/fonts/PFBeauSansProBold/PFBeauSansProBold.otf') format('otf'),
  url('/fonts/PFBeauSansProBold/PFBeauSansProBold.ttf') format('ttf'),
  url('/fonts/PFBeauSansProBold/PFBeauSansProBold.eot') format('eot'),
  url('/fonts/PFBeauSansProBold/PFBeauSansProBold.svg') format('svg');
}

@font-face {
  font-family: ProximaNovaRegular;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
  url('/fonts/ProximaNovaRegular/ProximaNovaRegular.otf') format('otf');
}