

@font-face {
  font-family: 'PFDinDisplayProBold';
  font-style: normal;
  font-weight: 600;
  src:  url('/fonts/PFDinBold/PFDinDisplayProBold.woff') format('woff'),
  url('/fonts/PFDinBold/PFDinDisplayProBold.otf') format('otf'),
  url('/fonts/PFDinBold/PFDinDisplayProBold.ttf') format('ttf'),
  url('/fonts/PFDinBold/PFDinDisplayProBold.eot') format('eot'),
  url('/fonts/PFDinBold/PFDinDisplayProBold.svg') format('svg');
}

@font-face {
  font-family: 'PFDinDisplayProRegular';
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/PFDinBold/PFDinDisplayProRegular.woff') format('woff'),
  url('/fonts/PFDinBold/PFDinDisplayProRegular.otf') format('otf'),
  url('/fonts/PFDinBold/PFDinDisplayProRegular.ttf') format('ttf'),
  url('/fonts/PFDinBold/PFDinDisplayProRegular.eot') format('eot'),
  url('/fonts/PFDinBold/PFDinDisplayProRegular.svg') format('svg');
}