@font-face {
  font-family: ProximaNovaRegular;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
  url('/fonts/ProximaNovaRegular/ProximaNovaRegular.otf') format('otf');
}
@font-face {
  font-family: GilroyBlack;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gilroy/GilroyBlack.woff') format('woff'),
  url('/fonts/gilroy/GilroyBlack.ttf') format('ttf');
}
@font-face {
  font-family: GilroyExtrabold;
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/gilroy/GilroyExtrabold.woff') format('woff'),
  url('/fonts/gilroy/GilroyExtrabold.ttf') format('ttf');
}